[submodule "extern/lex-uk-law"]
	path = extern/lex-uk-law
	url = https://github.com/i-dot-ai/lex.git
[submodule "extern/MITREThreatGraph"]
	path = extern/MITREThreatGraph
	url = https://github.com/beLizzard1/MITREThreatGraph.git
